.popup__close-btn-zoom {
  margin-top: -60%;
  margin-left: 88%;
  border: none;
  background: url(../../../images/Closecon.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  opacity: 1;
  transition: 0.3s;
}
.popup__close-btn-zoom:hover {
  opacity: 0.5;
}
